<% content_for :page_actions do %>
  <%= button_link_to Spree.t('new_specialized_sku_store'), new_object_url, icon: 'add', class: 'btn-success' %>
<% end %>

<% content_for :page_title do %>
  <%= Spree.t(:listing_specialized_sku_stores) %>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook='admin_specialized_sku_stores_filter'>

  </div>
<% end %>

<%# This is a new paginate! %>
<%= render :partial => 'spree/admin/shared/index_table_options', :locals => { :collection => @collection } %>

<% if @collection.any? %>
  <table class="table" id="listing_specialized_sku_stores">
    <thead>
      <tr data-hook='admin_specialized_sku_stores_index_headers'>
        <th><%= sort_link @search, :specialized_store_name,  Spree::SpecializedSkuStore.human_attribute_name(:specialized_store_name) %></th>
        <th><%#= Spree.t(:users) %></th>
        <th><%= sort_link @search, :active, Spree::SpecializedSkuStore.human_attribute_name(:is_active) %></th>
        <th data-hook="admin_specialized_sku_stores_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <%# Updated classes! %>
      <%- @collection.each do |specialized_sku_store| %>
        <tr <%#= "style='color: red;'" if specialized_sku_store.deleted? %> id="<%= spree_dom_id specialized_sku_store %>" data-hook="admin_specialized_sku_stores_index_rows" class="<%= cycle('odd', 'even') %>">
          <!--todo: Fix this link!-->
          <td><%= link_to specialized_sku_store.specialized_store_name, edit_object_url(specialized_sku_store) %></td>

          <td><%= specialized_sku_store.is_active %></td>
          <td class='actions actions-3' data-hook='admin_specialized_sku_stores_index_row_actions'>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%# New alert with link to add new specialized_sku_store %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: Spree::SpecializedSkuStore.model_name.human(count: :many)) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_specialized_sku_store_path %>!
  </div>
<% end %>