<% content_for :page_actions do %>
  <%= button_link_to Spree.t('import_authenticated_users_excel'), new_admin_import_sku_stores_auth_path, icon: 'add', class: 'btn-success' %>
<% end %>

<% content_for :page_title do %>
  <%= Spree.t(:listing_uploaded_excel) %>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook='admin_sku_stores_auths_filter'>

  </div>
<% end %>

<%# This is a new paginate! %>
<%= render :partial => 'spree/admin/shared/index_table_options', :locals => { :collection => @collection } %>

<% if @collection.any? %>
  <table class="table" id="listing_sku_stores_auths">
    <thead>
      <tr data-hook='admin_sku_stores_auths_index_headers'>
        <th><%= sort_link @search, :specialized_store_name,  Spree::SkuStoresAuth.human_attribute_name(:specialized_store_name) %></th>
        <th><%#= Spree.t(:users) %></th>
        <th><%= sort_link @search, :active, Spree::SkuStoresAuth.human_attribute_name(:is_active) %></th>
        <th data-hook="admin_sku_stores_auths_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <%# Updated classes! %>
      <%- @collection.each do |sku_stores_auth| %>
        <tr <%#= "style='color: red;'" if sku_stores_auth.deleted? %> id="<%= spree_dom_id sku_stores_auth %>" data-hook="admin_sku_stores_auths_index_rows" class="<%= cycle('odd', 'even') %>">
          <!--todo: Fix this link!-->
          <td><%= link_to sku_stores_auth.id, edit_object_url(sku_stores_auth) %></td>
          <td><%= sku_stores_auth.seller_id %></td>
          <td><%= sku_stores_auth.email %></td>
          <td><%= sku_stores_auth.pincode %></td>
          <td><%= sku_stores_auth.marketplace %></td>
          <td><%= sku_stores_auth.is_active %></td>
          <td class='actions actions-3' data-hook='admin_sku_stores_auths_index_row_actions'>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%# New alert with link to add new sku_stores_auth %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: Spree::SkuStoresAuth.model_name.human(count: :many)) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_sku_stores_auth_path %>!
  </div>
<% end %>